@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
body {
  color:#555;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  cursor: url(doge.png) 16 16, auto;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  cursor: url(doge.png) 16 16, auto;
}
.column {
  min-width: 300px;
  display: inline-block;
  vertical-align: top;
  cursor: url(doge.png) 16 16, auto;
}
.post, .about {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 0;
}
.post-author img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}
.post-author span {
  margin-left: 16px;
}
.post-date {
  color :#D2D2D2;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.post-container:nth-child(even) {
  background-color: #f2f2f2;
}
.about {
  text-align: center;
}
.post-author img,
.about-author img {
  border-radius: 50%;
}
p {
  line-height: 1.5;
}
h1, h2, h3, h4 {
  color: #333;
  cursor: url(doge.png) 16 16, auto;
}
a {
  color: #1abc9c;
  text-decoration: none;
   cursor: url(doge.png) 16 16, auto;
}
a:hover {
  color: #F6A623;
   cursor: url(doge.png) 16 16, auto;
}
.button {
  text-decoration: none;
  border: none;
  font-size: 16px;
  background-color: transparent;
  outline: none;
  color:#555;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
   cursor: url(doge.png) 16 16, auto;
}
#header {
  background-color: #1abc9c;
  height: 150px;
  line-height: 150px;
  cursor: url(doge.png) 16 16, auto;
}
#header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em
    cursor: url(doge.png) 16 16, auto;
}
#header a:hover {
  color: #222;
  cursor: url(doge.png) 16 16, auto;
}
#header-title {
  diplay: block;
  float: left;
  font-size: 20px;
  font-weight: bold;
  cursor: url(doge.png) 16 16, auto;
}
#header-nav {
  display: block;
  float: right;
  margin-top: 0;
  cursor: url(doge.png) 16 16, auto;
}
#header-nav li {
  display: inline;
  padding-left: 20px;
  cursor: url(doge.png) 16 16, auto;
}


#footer {
  background-color: #2f2f2f;
  padding: 50px 0;
  cursor: url(doge.png) 16 16, auto;
}
#footer h4 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: url(doge.png) 16 16, auto;
}
#footer p {
  color: white;
  cursor: url(doge.png) 16 16, auto;
}
